<div class="container">
  <h1>BIT Contactos</h1>

  <!-- Formulario -->
  <div class="card shadow mb-3">
    <div class="card-body">
      <form class="text-center">
        <div class="form-group row">
          <label class="col-12 col-sm-3 col-form-label" for="nombre">Nombre</label>
          <div class="col-12 col-sm-9">
            <input type="text" placeholder="Eje: Jeisson" class="form-control" id="nombre" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12 col-sm-3 col-form-label" for="telefono">Teléfono</label>
          <div class="col-12 col-sm-9">
            <input type="text" placeholder="Eje: 321 564 9876" class="form-control" id="telefono" />
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Contacto</button>
      </form>
    </div>
  </div>

  <h2>Contactos</h2>

  <div class="card shadow">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contacto of contactos; index as i">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ contacto.nombre }}</td>
            <td>{{ contacto.telefono }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
